@model CreateProductCommand

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" /><br />

        <label>Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="Stock" /><br />

        <label>Ürün Fiyat</label>
        <input type="text" class="form-control" asp-for="Price" /><br />

        <label>Açıklama</label>
        <input type="text" class="form-control" asp-for="Description" /><br />

        <button class="btn btn-primary">Ürünü Ekle</button>
    </form>
</div>