@model GetProductUpdateQueryResult

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="ProductId" />
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" /><br />

        <label>Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="Stock" /><br />

        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" /><br />

        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Description" /><br />

        <button class="btn btn-primary">Ürünü Güncelle</button>
    </form>
    <a href="/Default/Index/" class="btn btn-primary">Geri Dön</a>
</div>