@model DesignPattern.EntityLayer.Concrete.Product

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" /><br />

        <label>Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="ProductStock" /><br />

        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="ProductPrice" /><br />

        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories , new { @class= "form-control"})<br />

        <button class="btn btn-primary">Ürünü Ekle</button>
    </form>
</div>